<div id='landing-jumbo-wrapper'>
  <div class='j-home'>
    <!-- <div class='container'> -->
      <div class='logo-box'>
        <img src='https://s3-us-west-2.amazonaws.com/startupacademy-yvr/Asset/Rina-Startup+Hacks+Conf+-VS2.png' class='jumbo-logo' />
        <div class='page-space'></div>
        <%= link_to 'Register', '#', class: 'btn btn-primary btn-sm transition', id: 'nav-btn' %>
      </div>
    <!-- </div> -->
  </div>
</div>

<!-- Date -->
<%= render partial: '/home/partials/block_one'%>

<%= render partial: '/home/temp_partials/keynotes'%>

<%= render partial: '/home/temp_partials/speakers'%>

<%= render partial: '/home/temp_partials/sponsors'%>

<%= render partial: '/home/temp_partials/contact'%>
