<div class='row'>
  <div class='col-sm-12'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h4 style='color: #ddd;'><%= @event.titleized_title%></h4>
      </div>
      <div class='panel-body'>
        <div class='container'>
          <div class='row'>
            <div class='col-sm-5'>
              <h5><b>Event Status:&nbsp;&nbsp;<%= @event.aasm_state.titleize%></b></h5>
              <p>
                <b>Event Description:&nbsp;&nbsp;</b><%= @event.description%>
              </p>
            </div>
            <div class='col-sm-3'>
              <p><b>Event Dates:</b></p>
              <p><b>Start Date:&nbsp;&nbsp;</b><%= @event.start_date.strftime('%d / %m / %Y')%></p>
              <p><b>End Date:&nbsp;&nbsp;</b><%= @event.end_date.strftime('%d / %m / %Y')%></p>
            </div>
            <div class='col-sm-4'>
              <p><b>Statistis:</b></p>
              <p>Participant Count:&nbsp;&nbsp;<%=@event.participants.count%></p>
              <p>Sponsor Count:&nbsp;&nbsp;<%=@event.sponsors.count%></p>
              <p>Speaker Count:&nbsp;&nbsp;<%=@event.speakers.count%></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
