<div class='row'>
  <div class='col-sm-12'>
    <div class='panel panel-primary'>
      <div class='panel-heading'>
        <h4 style='color: #ddd;'>Speakers</h4>
      </div>
      <div class='panel-body'>
        <table class='table table-striped'>
          <tr>
            <th>Name</th>
            <th>Title</th>
            <th>e-mail</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
          <%@speakers.each do |speaker|%>
            <tr>
              <td><%="#{speaker.first_name} #{speaker.last_name}"%></td>
              <td><%=speaker.title.titleize%></td>
              <td><%=speaker.email%></td>
              <td><%=truncate(speaker.description, limit: 50, omission: ' ...')%></td>
              <td>
                <%= link_to 'Edit', edit_users_speaker_path(speaker), class:'btn btn-info btn-xs'%>
                <%= link_to 'Delete', users_speaker_path(speaker), method: :delete, class:'btn btn-danger btn-xs'%>
              </td>
            </tr>
          <%end%>
        </table>
      </div>
    </div>
  </div>
</div>
