<nav class='navbar navbar-default navbar-fixed-top transition'>
  <div class='container'>
    <ul class='nav navbar-nav navbar-left'>
      <li class='nav-brand'>
        <%=link_to root_path, class: 'navbar-brand' do%>
          <%= image_tag 'https://s3-us-west-2.amazonaws.com/startupacademy-yvr/logo.png', class: 'nav-logo'%>
        <%end%>
      </li>

    </ul>
    <div class='nav navbar-nav navbar-right'>
      <%= link_to 'Register', '#', class: 'btn btn-danger btn-sm', id:'nav-btn', data:{toggle: 'modal', target: '#registerModal'}%>
    </div>
    <ul class='nav navbar-nav navbar-right'>
      <!-- <li class='dropdown'>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
        <ul class="dropdown-menu">
          <li><%# link_to 'Team', '#'%></li>
          <li><%# link_to 'Press', '#'%></li>
        </ul>
      </li> -->
      <li><%= link_to 'About', about_path%></li>
      <li><%= link_to 'Speakers', speakers_path%></li>
      <li><%= link_to 'Resource', resources_path%></li>
      <!-- <li><%# link_to 'Contact', contact_path%></li> -->
    </ul>
  </div>
</nav>
