<!DOCTYPE html>
<html>
  <head>
    <title>Hackathon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <!-- NavBar -->
    <%if user_signed_in? %>
      <%= render partial: '/layouts/partials/user_nav'%>
    <%else%>
      <%= render partial: '/layouts/partials/top_nav'%>
    <%end%>

    <!-- Flash Messages -->
    <div class='container'>
      <div style='margin-top: 100px;'></div>
      <div class='alert-success' style='z-index: 1;'>
        <center><%=flash[:notice]%></center>
      </div>
      <div class='alert-warning' style='z-index: 1;'>
        <center><%=flash[:alert]%></center>
      </div>
    </div>

    <!-- Content -->
    <%= yield %>

    <!-- Footer -->
    <div class='footer'>
      <div class='container'>
        <%= render '/layouts/partials/footer2'%>
      </div>
    </div>

    <%= render partial: '/modals/signin' %>
    <%= render partial: '/modals/register' %>
  </body>
</html>
